.github-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.input-container input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 1;
}

.input-container button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #00f4ec;
    color: #000;
    cursor: pointer;
}

.user {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00f4ec;
    margin: 0 auto;
    display: block;
}
.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.user-joined {
    margin: 0;
    font-size: 18px;
    color: #555;
}


.name-container p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.profile-info div {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
}