.container {
    padding: 8px;
  }
  
  .heading {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .tab {
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: black;
  }
  
  .tab.active {
    border:1px solid black;
    background:white;
    color: black;
  }
  
  .content {
    text-align: center;
    padding: 20px 10px;
    height: 100px;
    overflow: auto;
    font-size: large;
    background-color: grey;
    
  }